Hello, {{name}} 

Welcome to Yantrayug Herohub.

Your {% if is_manager %}Manager{% elif is_accountant %}Accountant{% elif is_salesman %}Salesman{% else %}Employee{% endif %} Profile is successfully created. But you can not login until Admin approves your Profile.

Please wait till Account approval.  Once you recieve a confirmation email about Admin Approval, then you can login with your registered Email = {{email}}.

We look forward to cater you at the earliest.

For any Queries, you can email us on : info@yantrayug.com 

Thanks & Regards,
Yantrayug Herohub.