{% extends 'accounts/customer/customer-base.html' %}{% load static %}{% load widget_tweaks %} {% block title %}Admin - Dashboard{% endblock title %} {% block static %} {% endblock static %} {% block content %}
<!-- Page Heading -->

<div class="row">

    <!-- Recent Doctor Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">
                    <a href="#">Your Profile:</a>
                </h6>
            </div>
            <!-- Card Body -->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="card">
                                    {% for i in messages %}
                                    <p style="color:green">{{i}}</p>
                                    {% endfor %}
                                </div>
                                <br>
                            </div>
                            <form class="user" method="POST" enctype="multipart/form-data"  action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <img class="avatar-img rounded-circle" src="{{iuser.profile_pic.url}}" style="width: 40px;">
                                    <br>
                                    Upload New Profile Pic --
                                    <label>{{userForm.profile_pic.label}}</label> {% render_field userForm.profile_pic class="form-control" placeholder="" %}
                                </div>
                                <div class="form-group">
                                    Username
                                    <input type="text" class="form-control" id="username" value="{{request.user.username}}" name="username" placeholder="Update Username">
                                </div>
                                <div class="form-group">
                                    First Name
                                    <input type="text" class="form-control" id="username" value="{{request.user.first_name}}" name="first_name" placeholder="Update First Name">
                                </div>
                                <div class="form-group">
                                    Last Name
                                    <input type="text" class="form-control" id="username" value="{{request.user.last_name}}" name="last_name" placeholder="Update Last Name">
                                </div>
                                <div class="form-group">
                                    Mobile
                                    <input type="text" class="form-control" id="username" value="{{request.user.mobile}}" name="mobile" placeholder="Update Mobile">
                                </div>
                                <div class="form-group">
                                    Email
                                    <input type="text" class="form-control" id="username" value="{{request.user.email}}" name="email" placeholder="Update Email">
                                </div>
                                <div class="form-group">
                                    <label>{{userForm.full_address.label}}</label> {% render_field userForm.full_address class="form-control" placeholder="" %}
                                </div>
                                <div class="form-group">
                                    <label>{{userForm.bank_details.label}}</label> {% render_field userForm.bank_details class="form-control" placeholder="" %}
                                </div>
                                <div class="form-group">
                                    <label>{{userForm.upi_no.label}}</label> {% render_field userForm.upi_no class="form-control" placeholder="" %}
                                </div>
                                <div class="form-group">
                                    <label>{{userForm.date_of_birth.label}}</label> {% render_field userForm.date_of_birth class="form-control" placeholder="" %}
                                </div>

                                <button class="btn btn-primary btn-block" type="submit">Update</button>
                            </form>
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
{% endblock content %}