<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} {% endblock title %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'backassets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'backassets/css/sb-admin-2.min.css' %}" rel="stylesheet"> {% block static %} {% endblock static %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'accounts/emp/emp-sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'accounts/emp/emp-navbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block content %} {% endblock content %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'accounts/footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Customer Login Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">Privacy Policy</h4>
                    <!-- <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button> -->
                </div>
                <div class="modal-body">
                    <p>This Privacy Policy covers Concorde Investment's stance towards the personal information which is stored while you are exploring our site and using the services on the site.</p>
                    <p>With view to institute fairness, transparency and healthy practice in rendering the lending business the company has adopted and put in place the following updated Fair Practices.</p>
                    <h5>Objectives:</h5>
                    <p>To Promote good and fair practices by setting minimum standards in dealing with customers;</p>
                    <p>To Increase transparency and to make the customer understand the services clearly;</p>
                    <p>To Encourage market forces, through competition, To achive higher operating standards.</p>
                    <p>To Promote a fair and cordial relationships between customer and the company.</p>
                    <space> </space>
                    <p>Any Investment done prior will be reflected on your respective dashboard in the Coming Days and the Withdrawal Process and details will be shared on your Dashboard, Wherein you can update your Bank Details and start withdrawing your
                        Investment as per the Described process.</p>
                </div>
                <div class="modal-footer">
                    <p>Do you Agree our Terms and Policies</p>
                    <form onsubmit="return checkForm(this);" data-target="#logoutModal">
                        {% csrf_token %}
                        <div class="justify-content-center">
                            <button class="btn btn-primary" type="submit" data-dismiss="modal">I Agree</button>
                            <a class="btn btn-danger" href="{% url 'logout' %}">Cancle</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'accounts/coreJS.html' %}

    {% block custJS %}{% endblock custJS %}
</body>
</html>