{% extends 'accounts/base.html' %}{% load static %}{% load crispy_forms_tags %} 
{% block title %}Customer Signup Page{% endblock title %} 
{% block custStyles %}{% endblock custStyles %} 
{% block content %}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-12">

                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account for Salesman!</h1>
                    </div>
                    <form class="user" method="POST">
                        {% csrf_token %} 
                        
                        {{ form|crispy }} 
                        
                        {% comment %}
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="username" class="form-control form-control-user" id="username" placeholder="Unique Username">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control form-control-user" id="mobile" placeholder="Mobile No.">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="email" placeholder="Email Address">
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user" id="password1" placeholder="Password">
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user" id="password2" placeholder="Confirm Password">
                            </div>
                        </div>
                        {% endcomment %}
                        <button class="btn btn-primary btn-user btn-block" type="submit">Submit</button> 
                        
                        {% comment %}
                        <a href="#" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Register with Google
                        </a>
                        <a href="#" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </a>
                        {% endcomment %}
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="#">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{% url 'salesmanlogin' %}">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}