{% extends 'accounts/admin/admin-index.html' %}{% load static %}
{% load crispy_forms_tags %} 
{% block title %}Admin - Dashboard{% endblock title %} 
{% block static %} {% endblock static %} 
{% block adminContent %}

<div class="row">
    <!-- Patient Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Approval Pending for Employees</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>User ID</th>
                                <th>User PKID</th>
                                <th>Emp ID</th>
                                <th>Emp PKID</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>Approve</th>
                                <th>Reject</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in managers %}
                            <tr>
                                <td> {{d.get_full_name}}</td>
                                <td>{{d.user.id}}</td>
                                <td>{{d.user.pkid}}</td>
                                <td>{{d.id}}</td>
                                <td>{{d.pkid}}</td>
                                <td>{{d.get_email}}</td>
                                <td>{{d.get_mobile}}</td>
                                <td>{{d.get_user_role}}</td>
                                {% if d.status %}
                                <td> <span class="label label-primary">Permanent</span></td>
                                {% else %}
                                <td> <span class="label label-success">On Hold</span></td>
                                {% endif %}
                                <td><a class="btn btn-primary btn-xs" href="{% url 'approve-manager' d.id  %}"><i class="fas fa-fw fa-thumbs-up"></i></a></td>
                                <td><a class="btn btn-danger btn-xs" href="{% url 'reject-manager' d.id  %}"><i class="fas fa-fw fa-trash-alt"></i></a></td>
                            </tr>
                            {% endfor %}

                            {% for sm in accountants %}
                            <tr>
                                <td> {{sm.get_full_name}}</td>
                                <td>{{sm.user.id}}</td>
                                <td>{{sm.user.pkid}}</td>
                                <td>{{sm.id}}</td>
                                <td>{{sm.pkid}}</td>
                                <td>{{sm.get_email}}</td>
                                <td>{{sm.get_mobile}}</td>
                                <td>{{sm.get_user_role}}</td>
                                {% if sm.status %}
                                <td> <span class="label label-primary">Permanent</span></td>
                                {% else %}
                                <td> <span class="label label-success">On Hold</span></td>
                                {% endif %}
                                <td><a class="btn btn-primary btn-xs" href="{% url 'approve-accountant' sm.id  %}"><i class="fas fa-fw fa-thumbs-up"></i></a></td>
                                <td><a class="btn btn-danger btn-xs" href="{% url 'reject-accountant' sm.id  %}"><i class="fas fa-fw fa-trash-alt"></i></a></td>
                            </tr>
                            {% endfor %}

                            {% for sm in salesmen %}
                            <tr>
                                <td> {{sm.get_full_name}}</td>
                                <td>{{sm.user.id}}</td>
                                <td>{{sm.user.pkid}}</td>
                                <td>{{sm.id}}</td>
                                <td>{{sm.pkid}}</td>
                                <td>{{sm.get_email}}</td>
                                <td>{{sm.get_mobile}}</td>
                                <td>{{sm.get_user_role}}</td>
                                {% if sm.status %}
                                <td> <span class="label label-primary">Permanent</span></td>
                                {% else %}
                                <td> <span class="label label-success">On Hold</span></td>
                                {% endif %}
                                <td><a class="btn btn-primary btn-xs" href="{% url 'approve-salesman' sm.id  %}"><i class="fas fa-fw fa-thumbs-up"></i></a></td>
                                <td><a class="btn btn-danger btn-xs" href="{% url 'reject-salesman' sm.id  %}"><i class="fas fa-fw fa-trash-alt"></i></a></td>
                            </tr>
                            {% endfor %}

                            {% for sm in employees %}
                            <tr>
                                <td> {{sm.get_full_name}}</td>
                                <td>{{sm.user.id}}</td>
                                <td>{{sm.user.pkid}}</td>
                                <td>{{sm.id}}</td>
                                <td>{{sm.pkid}}</td>
                                <td>{{sm.get_email}}</td>
                                <td>{{sm.get_mobile}}</td>
                                <td>{{sm.get_user_role}}</td>
                                {% if sm.status %}
                                <td> <span class="label label-primary">Permanent</span></td>
                                {% else %}
                                <td> <span class="label label-success">On Hold</span></td>
                                {% endif %}
                                <td><a class="btn btn-primary btn-xs" href="{% url 'approve-employee' sm.id  %}"><i class="fas fa-fw fa-thumbs-up"></i></a></td>
                                <td><a class="btn btn-danger btn-xs" href="{% url 'reject-employee' sm.id  %}"><i class="fas fa-fw fa-trash-alt"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock adminContent %}