{% extends 'accounts/admin/admin-base.html' %}{% load static %}{% load widget_tweaks %} {% block title %}Admin - Customer Approval Page{% endblock title %} {% block static %} {% endblock static %} {% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{request.user.username}} - Admin Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

{% include 'accounts/admin/admin_dashboard_cards.html' %}

<div class="row">

    <!-- Doctors Chart -->
    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Customers</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Status</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in customers %}
                            <tr>
                                <td> {{d.get_name}}</td>
                                <td>{{d.get_email}}</td>
                                <td>{{d.get_mobile}}</td>
                                {%if d.status%}
                                <td> <span class="label label-primary">Permanent</span></td>
                                {% else %}
                                <td> <span class="label label-success">On Hold</span></td>
                                {% endif %}
                                <td><a class="btn btn-primary btn-xs" href="{% url 'update-doctor' d.id  %}"><span class="glyphicon glyphicon-edit"></span></a></td>
                                <td><a class="btn btn-danger btn-xs" href="{% url 'delete-doctor' d.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}